html,
body {
  margin: 0;
  height: 100%;
}
#cf-wrapper {
  height: 100%;
}
#cf-wrapper #cf-hero {
  display: table;
  width: 100%;
  height: 100%;
  background-color: #EEE;
}
#cf-wrapper #cf-hero #cfh-contenido {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
#cf-wrapper #cf-hero #cfh-contenido #cfh-titulo,
#cf-wrapper #cf-hero #cfh-contenido #cfh-subtitulo,
#cf-wrapper #cf-hero #cfh-contenido #cfh-download {
  display: block;
}
#cf-wrapper #cf-hero #cfh-contenido #cfh-titulo {
  font-family: 'Montserrat', sans-serif;
  font-size: 38px;
}
#cf-wrapper #cf-hero #cfh-contenido #cfh-subtitulo {
  padding: 0 50px;
  font-family: 'Open Sans', sans-serif;
  font-size: 24px;
}
#cf-wrapper #cf-hero #cfh-contenido #cfh-download {
  margin: 50px auto 0;
  padding: 10px 25px;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  color: #FFF;
  background: #2b343d;
  border: none;
  border-radius: 100px;
  transition: all .3s ease;
}
#cf-wrapper #cf-hero #cfh-contenido #cfh-download:hover,
#cf-wrapper #cf-hero #cfh-contenido #cfh-download:focus {
  background: #36414c;
}
#cf-wrapper #cf-hero #cfh-scroll-down {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0 auto;
  box-sizing: border-box;
  height: 100px;
  width: 100px;
  background: none;
  border: none;
  outline: 0;
}
#cf-wrapper #cf-hero #cfh-scroll-down:before {
  content: '\f103';
  font-family: 'FontAwesome';
  font-size: 50px;
  color: #2b343d;
}
#cf-wrapper #cf-info {
  padding: 100px 15px 0;
  box-sizing: border-box;
  background: #2b343d;
}
#cf-wrapper #cf-info .cfi-titulo {
  display: block;
  margin-bottom: 50px;
  font-family: 'Open Sans', sans-serif;
  font-size: 32px;
  font-weight: 600;
  letter-spacing: 1px;
  text-align: center;
  color: #FFF;
}
#cf-wrapper #cf-info #cfi-demo {
  margin: 0 auto 125px;
  width: 800px;
}
@media (max-width: 830px) {
  #cf-wrapper #cf-info #cfi-demo {
    width: 100%;
  }
}
#cf-wrapper #cf-info #cfi-demo #cfi-ejemplo {
  height: 250px;
  background: #36414c;
  *zoom: 1;
}
#cf-wrapper #cf-info #cfi-demo #cfi-ejemplo:before,
#cf-wrapper #cf-info #cfi-demo #cfi-ejemplo:after {
  display: table;
  content: "";
}
#cf-wrapper #cf-info #cfi-demo #cfi-ejemplo:after {
  clear: both;
}
@media (max-width: 630px) {
  #cf-wrapper #cf-info #cfi-demo #cfi-ejemplo {
    height: auto;
  }
}
#cf-wrapper #cf-info #cfi-demo #cfi-ejemplo #cfie-selectores {
  float: left;
  width: 50%;
  height: 100%;
  border-right: 1px solid #2b343d;
}
@media (max-width: 630px) {
  #cf-wrapper #cf-info #cfi-demo #cfi-ejemplo #cfie-selectores {
    width: 100%;
    border-right: none;
  }
}
#cf-wrapper #cf-info #cfi-demo #cfi-ejemplo #cfie-selectores input,
#cf-wrapper #cf-info #cfi-demo #cfi-ejemplo #cfie-selectores select {
  display: block;
  padding: 10px 25px;
  box-sizing: border-box;
  width: 100%;
  height: 33.33%;
  font-family: 'Open Sans', sans-serif;
  font-size: 28px;
  font-weight: 300;
  letter-spacing: 1px;
  color: #FFF;
  background: #34495e;
  border: none;
}
#cf-wrapper #cf-info #cfi-demo #cfi-ejemplo #cfie-selectores select:nth-of-type(1) {
  border-top: 1px solid #2b343d;
  border-bottom: 1px solid #2b343d;
}
#cf-wrapper #cf-info #cfi-demo #cfi-ejemplo #cfie-resultado {
  float: left;
  width: calc(50% - 1px);
  height: 100%;
}
@media (max-width: 630px) {
  #cf-wrapper #cf-info #cfi-demo #cfi-ejemplo #cfie-resultado {
    width: 100%;
    height: auto;
  }
}
#cf-wrapper #cf-info #cfi-demo #cfi-ejemplo #cfie-resultado #cfie-cantidad-resultado {
  display: table;
  padding: 10px 25px;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  font-family: 'Open Sans', sans-serif;
  font-size: 40px;
  font-weight: 600;
  letter-spacing: 1px;
  text-align: center;
  color: #FFF;
  background: #2e8ece;
  border-bottom: 1px solid #2b343d;
}
#cf-wrapper #cf-info #cfi-demo #cfi-ejemplo #cfie-resultado #cfie-cantidad-resultado span {
  display: table-cell;
  vertical-align: middle;
}
#cf-wrapper #cf-info #cfi-uso {
  margin: 0 auto;
  width: 800px;
}
@media (max-width: 830px) {
  #cf-wrapper #cf-info #cfi-uso {
    width: 100%;
  }
}
#cf-wrapper #cf-info #cfi-uso ol#cfi-pasos {
  margin: 0;
  padding: 0;
  list-style-type: none;
  counter-reset: li;
}
#cf-wrapper #cf-info #cfi-uso ol#cfi-pasos li {
  position: relative;
}
#cf-wrapper #cf-info #cfi-uso ol#cfi-pasos li:nth-of-type(1) {
  margin-bottom: 50px;
}
#cf-wrapper #cf-info #cfi-uso ol#cfi-pasos li .cfi-paso {
  display: block;
  position: relative;
  left: 60px;
  margin-right: 60px;
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  letter-spacing: 1px;
  color: #FFF;
}
#cf-wrapper #cf-info #cfi-uso ol#cfi-pasos li .cfi-paso:before {
  position: absolute;
  top: -7px;
  left: -60px;
  content: counter(li);
  counter-increment: li;
  display: block;
  width: 40px;
  height: 40px;
  font-family: 'Open Sans', sans-serif;
  font-size: 24px;
  font-weight: 600;
  text-align: center;
  line-height: 40px;
  color: #FFF;
  background: #2e8ece;
  border-radius: 100px;
}
#cf-wrapper #cf-info #cfi-uso ol#cfi-pasos li .cfi-code {
  margin-top: 30px;
  padding: 25px;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  letter-spacing: 2px;
  color: #FFF;
  background-color: #272822;
}
#cf-wrapper #cf-info #cfi-uso ol#cfi-pasos li .cfi-code .cfic-tag {
  color: #F92672;
}
#cf-wrapper #cf-info #cfi-uso ol#cfi-pasos li .cfi-code .cfic-attr {
  color: #A6E22E;
}
#cf-wrapper #cf-info #cfi-uso ol#cfi-pasos li .cfi-code .cfic-value,
#cf-wrapper #cf-info #cfi-uso ol#cfi-pasos li .cfi-code .cfic-string {
  color: #FD971F;
}
#cf-wrapper #cf-info #cfi-uso ol#cfi-pasos li .cfi-code .cfic-var {
  color: #66D9EF;
}
#cf-wrapper #cf-info #cfi-uso ol#cfi-pasos li .cfi-code .cfic-igual {
  color: #F92672;
}
#cf-wrapper #cf-info #cfi-uso ol#cfi-pasos li .cfi-code .cfic-number {
  color: #AE81FF;
}
#cf-wrapper #cf-info #cfi-uso ol#cfi-pasos li .cfi-code .cfic-comentario {
  color: #75715E;
}
#cf-wrapper #cf-footer {
  padding: 100px 0 50px;
  text-align: center;
  background: #2b343d;
}
#cf-wrapper #cf-footer span {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 1px;
  color: #FFF;
}
#cf-wrapper #cf-footer span i {
  font-style: normal;
}
#cf-wrapper #cf-footer span i:before {
  content: '\f004';
  font-family: 'FontAwesome';
  color: #c0392b;
}
#cf-wrapper #cf-footer span a {
  text-decoration: none;
  color: #7a8da1;
  transition: all .3s ease;
}
#cf-wrapper #cf-footer span a:hover,
#cf-wrapper #cf-footer span a:focus {
  color: #899aab;
}
